@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f7fafc;
  color: #2d3748;
}

body, html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #1a202c;
  color: #e2e8f0;
}

.dark .bg-gray-100 {
  background-color: #1a202c;
}

.dark .text-gray-700 {
  color: #e2e8f0;
}

.dark .text-gray-400 {
  color: #a0aec0;
}

input, select {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.dark input, .dark select {
  background-color: #2d3748;
  border-color: #4a5568;
  color: #e2e8f0;
}

select option {
  font-weight: bold;
}

button {
  transition: background-color 0.3s, color 0.3s;
}

.dark button {
  background-color: #4a5568;
  color: #e2e8f0;
}

.card {
  background-color: white;
  color: #2d3748;
  transition: background-color 0.3s, color 0.3s;
}

.dark .card {
  background-color: #2d3748;
  color: #e2e8f0;
}

.animate-spin {
  animation: spin 1s linear infinite;
  justify-items: end;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


